/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .narrow {
	 width: 200px;
 }

 .color1 {
	 background-color: aliceblue;
 }

 .color2 {
	 background-color: rgb(145, 194, 236);
 }

 .color3 {
	 background-color: rgb(160, 212, 169);
 }

 .color4 {
	 background-color: rgb(190, 185, 111);
 }

 .color5 {
	 background-color: rgb(231, 235, 21);
 }
 
 .color6 {
	 background-color: rgb(209, 64, 132);
 }
 
 .color7 {
	 background-color: rgb(130, 243, 1);
 }